<link rel="stylesheet" href="{{ 'most-popular-products' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'most-popular-products.css' | asset_url | stylesheet_tag }}</noscript>


<div class="template-most-popular-products">

    <h2>MOST POPULAR PRODUCTS</h2>

</div>